.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{
    font-family: "Montserrat", sans-serif;
    color: #505050;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    margin-left: 74px;
    margin-top: 55px;

}
.input-button-container {
    border: 2px solid #e4dfd8;
    border-radius: 5px;
    width: 494px;
    height: 40px;
    display: flex;

}

.input-button-container input {
    flex-grow: 1; /* Поле занимает всё доступное пространство */
    border: none; /* Границы отсутствуют */
    padding: 5px;
    outline: none; /* Очертание при фокусе отсутствует */
}

.input-button-container button {
    border: none;
    border-radius: 0 3px 3px 0;
    width: 147px;
    height: 40px;
    background: #d8c3a4;
    color: #787878;
}
.name>h3{
    font-weight: 700;
    font-size: 16px;
    color: #e4dfd8;
}
.inform{
    background-image: linear-gradient(90deg, #3f1d1d 0%,transparent 50%), url("474.png");
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 474px;
    height: 100px;
    background-color: #e4dfd8;
}
.inform>p{
    font-weight: 500;
    font-size: 13px;
    color: #e4dfd8;
}
.page{
    font-family: "Montserrat", sans-serif;
    margin-left: 74px;
}
h4{
    font-weight: 700;
    font-size: 16px;
    color: #787878;
}
.info{
    color: #787878;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 474px;
    height: 100px;
    background-color: #e4dfd8;
}
.info>h3{
    font-weight: 700;
    font-size: 16px;
    color: #787878;
}
.info>p{
    font-weight: 500;
    font-size: 13px;
    color: #787878;
}
.info>name>p{
    font-weight: 500;
    font-size: 13px;
    color: #787878;
}
.page > button{
    border: none;
    font-weight: 500;
    font-size: 13px;
    color: #505050;
    background: #d8c3a4;
    border-radius: 5px;
    width: 400px;
    height: 60px;
}
fieldset{
    color: #787878;
    margin-bottom: 20px;
}
button:hover{
    background-color: #b4ad9d;
}