.montserrat {
                 font-family: "Montserrat", sans-serif;
                 font-optical-sizing: auto;
                font-style: normal;
             }
h1{
    font-family: "Montserrat", sans-serif;
    color: #505050;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    margin-left: 74px;
    margin-top: 55px;

}
.log{

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #505050;
    height: 400px;
    display: flex;
    margin-left: 500px;
    flex-direction: column;
    align-items: center;
}
.login{
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #01081e;
    width: 311px;
    height: 303px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input{
    border: 2px solid #e4dfd8;
    border-radius: 5px;
    width: 310px;
    height: 40px;
}
button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 4px;
    width: 310px;
    height: 44px;
    background: #e98074;
    color: #e4dfd8;
}
.logo{
    width: 55px;
    height: 63px;
    margin-right: 20px;
    margin-bottom: -15px;
}